# Notebook for Homework 1

In [230]:
# Preliminary Codes -- DO NOT CHANGE ANYTHING IN THIS SECTION
import random, pickle
import numpy as np
xData = [100*random.random() for i in range(20)]
number = 5+random.randint(8,20)
fruit = 'apples'
day = 'Saturday'
string_4 = 'An alacritous abalone accelerates along an alarming aquatic ascent.'
string_5 = 'A                       large space was here.'
string_6 = 'ATCGTGCATGCTGAGTGGCGAGCGGCGGCCGTACGCTGTTACTTAAAACGTAGCTGTAAAAAAC\
            GCTGCTGATGCTGTGCATGTGACTAGCTGCATGTGTGACTGACTGCTGACGTACTGTACGTACG\
            ATGGTTCGTGCGATGCGCTTGACGTGTCGTAGTGCATGCTGCTAGCTGATCGATGTGTCGAGTC'
nDigits = 6
nPower = 3
List10 = ['apples','bananas','pears','pears','blueberries','apples','strawberries']
Student_IDs = [1,2,3,4,5]
Student_names = ['Jim','John','Jenna','Jamal','Jaden']
List12 = [1,2,3,4,5,6,7,8]

q1 = 'xxx'
q2 = 'XXX'
q3 = 'XXX'
q4 = 123
q5 = 'XXX'
q6 = 123
q7 = 'XXX'
q8 = 1.23
q8 = 'xxx'
q9 = 'xxx'
q10 = List10
q11 = 'xxx'
q12 = [1,2,3,4,5,6,7,8]

fnDat = 'Hwk1Data.pkl'
dataDict = {'xData':xData,'number':number,'fruit':fruit,'day':day,'string_4':string_4,
    'string_5':string_5,'string_6':string_6,'nDigits':nDigits,'nPower':nPower,
    'Student_IDs':Student_IDs,'Student_names':Student_names,'List10':List10,'List12':List12}
with open(fnDat, 'wb') as file:
    pickle.dump(dataDict, file)

def saveResults():
    fn = 'Hwk1Answers.pkl'
    answerDict = {'q1':q1,'q2':q2,'q3':q3,'q4':q4,'q5':q5,'q6':q6,'q7':q7,'q8':q8,
                 'q9':q9,'q10':q10,'q11':q11,'q12':q12}
    with open(fn, 'wb') as file:
        pickle.dump(answerDict, file)

    #Read and print 
    with open(fn, 'rb') as file:
        loaded_dict = pickle.load(file)
    
    print("Your answers so far are:")
    print(loaded_dict)

## Problem Set 1 - Basic Arithmetic and String Manipulation

In [231]:
# Q1 - Concatenate the following strings with a space inbetween them (do not change the name).
string_1 = 'Hello my name is'
name = 'Name'
q1 = 'xxx'

saveResults()

Your answers so far are:
{'q1': 'xxx', 'q2': 'XXX', 'q3': 'XXX', 'q4': 123, 'q5': 'XXX', 'q6': 123, 'q7': 'XXX', 'q8': 'xxx', 'q9': 'xxx', 'q10': ['apples', 'bananas', 'pears', 'pears', 'blueberries', 'apples', 'strawberries'], 'q11': 'xxx', 'q12': [1, 2, 3, 4, 5, 6, 7, 8]}

In [232]:
q1 = " ".join ([string_1, name])

In [233]:
# Q2 = Convert the following string to uppercase
string_2 = 'i would like to be uppercase'
q2 = 'xxx'

saveResults()

Your answers so far are:
{'q1': 'Hello my name is Name', 'q2': 'xxx', 'q3': 'XXX', 'q4': 123, 'q5': 'XXX', 'q6': 123, 'q7': 'XXX', 'q8': 'xxx', 'q9': 'xxx', 'q10': ['apples', 'bananas', 'pears', 'pears', 'blueberries', 'apples', 'strawberries'], 'q11': 'xxx', 'q12': [1, 2, 3, 4, 5, 6, 7, 8]}

In [234]:
q2 = string_2.upper()

In [235]:
# Q3 - use string formatting to construct the following string: 
#. "I bought [number] [fruit] on [day]." where:
#     [number] is replaced with the number value of the variable "number",
#     [fruit] is replaced with the string value of the variable "fruit",
#     [day] is replaced with the string value of the variable "day",
print(number)
print(fruit)
print(day)
q3 = 'xxx'

saveResults()

22
apples
Saturday
Your answers so far are:
{'q1': 'Hello my name is Name', 'q2': 'I WOULD LIKE TO BE UPPERCASE', 'q3': 'xxx', 'q4': 123, 'q5': 'XXX', 'q6': 123, 'q7': 'XXX', 'q8': 'xxx', 'q9': 'xxx', 'q10': ['apples', 'bananas', 'pears', 'pears', 'blueberries', 'apples', 'strawberries'], 'q11': 'xxx', 'q12': [1, 2, 3, 4, 5, 6, 7, 8]}

In [236]:
q3 = "I bought {number_fruits} {fruit_1} on {day_1}.".format(number_fruits = number, fruit_1 = fruit, day_1 = day)

In [237]:
# Q4 - count the number of a's in the string "string_4"
print(string_4)
q4 = 123

saveResults()

An alacritous abalone accelerates along an alarming aquatic ascent.
Your answers so far are:
{'q1': 'Hello my name is Name', 'q2': 'I WOULD LIKE TO BE UPPERCASE', 'q3': 'I bought 22 apples on Saturday.', 'q4': 123, 'q5': 'XXX', 'q6': 123, 'q7': 'XXX', 'q8': 'xxx', 'q9': 'xxx', 'q10': ['apples', 'bananas', 'pears', 'pears', 'blueberries', 'apples', 'strawberries'], 'q11': 'xxx', 'q12': [1, 2, 3, 4, 5, 6, 7, 8]}

In [238]:
q4 = string_4.count('a')

In [239]:
# Q5 - Strip "string_5" to remove all spaces and return the result as 'q5'
print(string_5)
q5 = 'xxx'

saveResults()

A                       large space was here.
Your answers so far are:
{'q1': 'Hello my name is Name', 'q2': 'I WOULD LIKE TO BE UPPERCASE', 'q3': 'I bought 22 apples on Saturday.', 'q4': 13, 'q5': 'xxx', 'q6': 123, 'q7': 'XXX', 'q8': 'xxx', 'q9': 'xxx', 'q10': ['apples', 'bananas', 'pears', 'pears', 'blueberries', 'apples', 'strawberries'], 'q11': 'xxx', 'q12': [1, 2, 3, 4, 5, 6, 7, 8]}

In [240]:
q5 = string_5.replace(' ','')

In [241]:
# Q6 - How long is the string "string_6"?
q6 = 123

saveResults()

Your answers so far are:
{'q1': 'Hello my name is Name', 'q2': 'I WOULD LIKE TO BE UPPERCASE', 'q3': 'I bought 22 apples on Saturday.', 'q4': 13, 'q5': 'Alargespacewashere.', 'q6': 123, 'q7': 'XXX', 'q8': 'xxx', 'q9': 'xxx', 'q10': ['apples', 'bananas', 'pears', 'pears', 'blueberries', 'apples', 'strawberries'], 'q11': 'xxx', 'q12': [1, 2, 3, 4, 5, 6, 7, 8]}

In [242]:
q6 = len(string_6)

In [243]:
# Q7 - Write a STRING that contains the value of pi^[nPower]. 
# Use exponent form to the 3rd decimal point (e.g., 2.500e+00).
pi = np.pi
print(pi)
print(nDigits)
print(nPower)
q7 = "1.23456"

saveResults()

3.141592653589793
6
3
Your answers so far are:
{'q1': 'Hello my name is Name', 'q2': 'I WOULD LIKE TO BE UPPERCASE', 'q3': 'I bought 22 apples on Saturday.', 'q4': 13, 'q5': 'Alargespacewashere.', 'q6': 216, 'q7': '1.23456', 'q8': 'xxx', 'q9': 'xxx', 'q10': ['apples', 'bananas', 'pears', 'pears', 'blueberries', 'apples', 'strawberries'], 'q11': 'xxx', 'q12': [1, 2, 3, 4, 5, 6, 7, 8]}

In [244]:
q7 = "{:.3e}".format(pi**nPower)

## Problem Set 2 - Iterables, Slicing, and Sets

In [245]:
# Q8 - Consider the numbers in the list "xData", and compute their average.
print(xData)
q8 = 1.23  # Change this to produce the average of the numbers in 'xData'

saveResults()

[59.57431088958265, 95.7604031462628, 12.96143770782534, 5.14880096297905, 32.731906750445624, 10.774441688527014, 94.04463316258281, 89.81196979026286, 37.07573734107049, 44.40926787968025, 6.670707030707712, 63.90110993707289, 84.74717566960098, 25.258366069593873, 52.32859298566148, 81.31505972444214, 92.68647095086727, 57.29888015717462, 8.816358722529571, 16.28810438498234]
Your answers so far are:
{'q1': 'Hello my name is Name', 'q2': 'I WOULD LIKE TO BE UPPERCASE', 'q3': 'I bought 22 apples on Saturday.', 'q4': 13, 'q5': 'Alargespacewashere.', 'q6': 216, 'q7': '3.101e+01', 'q8': 1.23, 'q9': 'xxx', 'q10': ['apples', 'bananas', 'pears', 'pears', 'blueberries', 'apples', 'strawberries'], 'q11': 'xxx', 'q12': [1, 2, 3, 4, 5, 6, 7, 8]}

In [246]:
q8 = sum(xData)/len(xData)

In [247]:
# Q9 - What's the last number in the list "xData".  Get this by slicing the list.
print(xData)
q9 = 1.23

saveResults()

[59.57431088958265, 95.7604031462628, 12.96143770782534, 5.14880096297905, 32.731906750445624, 10.774441688527014, 94.04463316258281, 89.81196979026286, 37.07573734107049, 44.40926787968025, 6.670707030707712, 63.90110993707289, 84.74717566960098, 25.258366069593873, 52.32859298566148, 81.31505972444214, 92.68647095086727, 57.29888015717462, 8.816358722529571, 16.28810438498234]
Your answers so far are:
{'q1': 'Hello my name is Name', 'q2': 'I WOULD LIKE TO BE UPPERCASE', 'q3': 'I bought 22 apples on Saturday.', 'q4': 13, 'q5': 'Alargespacewashere.', 'q6': 216, 'q7': '3.101e+01', 'q8': 48.58018674759259, 'q9': 1.23, 'q10': ['apples', 'bananas', 'pears', 'pears', 'blueberries', 'apples', 'strawberries'], 'q11': 'xxx', 'q12': [1, 2, 3, 4, 5, 6, 7, 8]}

In [248]:
q9 = xData[-1]

In [249]:
# Q10 - Convert between lists and sets to remove duplicate entries from the list "List10"
print(List10)
q10 = List10

saveResults()

['apples', 'bananas', 'pears', 'pears', 'blueberries', 'apples', 'strawberries']
Your answers so far are:
{'q1': 'Hello my name is Name', 'q2': 'I WOULD LIKE TO BE UPPERCASE', 'q3': 'I bought 22 apples on Saturday.', 'q4': 13, 'q5': 'Alargespacewashere.', 'q6': 216, 'q7': '3.101e+01', 'q8': 48.58018674759259, 'q9': 16.28810438498234, 'q10': ['apples', 'bananas', 'pears', 'pears', 'blueberries', 'apples', 'strawberries'], 'q11': 'xxx', 'q12': [1, 2, 3, 4, 5, 6, 7, 8]}

In [250]:
q10 =

SyntaxError: invalid syntax (1563093603.py, line 1)

In [ ]:
# Q11 - Combine the lists 'Student_IDs' and 'Student_names' into a dictionary keyed by the IDs. 
# i.e. Create a dictionary with pairs of { ID : student name }
print(Student_IDs)
print(Student_names)
q11 = 'xxx'

saveResults()

[1, 2, 3, 4, 5]
['Jim', 'John', 'Jenna', 'Jamal', 'Jaden']
Your answers so far are:
{'q1': 'Hello my name is Name', 'q2': 'I WOULD LIKE TO BE UPPERCASE', 'q3': 'I bought 13 apples on Saturday.', 'q4': 13, 'q5': 'Alargespacewashere.', 'q6': 216, 'q7': '3.101e+01', 'q8': 53.009218065980235, 'q9': 1.23, 'q10': ['apples', 'bananas', 'pears', 'pears', 'blueberries', 'apples', 'strawberries'], 'q11': 'xxx', 'q12': [1, 2, 3, 4, 5, 6, 7, 8]}

In [ ]:
# Q12 - Slice to get every other entry in the list 'List12'
print(List12)
q12 = 'xxx'

saveResults()

[1, 2, 3, 4, 5, 6, 7, 8]
Your answers so far are:
{'q1': 'Hello my name is Name', 'q2': 'I WOULD LIKE TO BE UPPERCASE', 'q3': 'I bought 13 apples on Saturday.', 'q4': 13, 'q5': 'Alargespacewashere.', 'q6': 216, 'q7': '3.101e+01', 'q8': 53.009218065980235, 'q9': 1.23, 'q10': ['apples', 'bananas', 'pears', 'pears', 'blueberries', 'apples', 'strawberries'], 'q11': 'xxx', 'q12': 'xxx'}